<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="consola.test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="db_cnn" connectionString="Persist Security Info=False;User ID=mavhatestaoro;Initial Catalog=mavhatestaoro;Data Source=mavhatestaoro.db.8804041.c3a.hostedresource.net;Password=Mavha1oro1test@"   providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <consola.test.My.MySettings>
            <setting name="consola_test_dataService_data" serializeAs="String">
                <value>http://localhost:63141/data.asmx</value>
            </setting>
        </consola.test.My.MySettings>
    </applicationSettings>
</configuration>