<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="db_cnn" connectionString="Persist Security Info=False;User ID=mavhatestaoro;Initial Catalog=mavhatestaoro;Data Source=mavhatestaoro.db.8804041.c3a.hostedresource.net;Password=Mavha1oro@"   providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>